streamlit
altair
attrs
audioop-lts
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
docopt
fonttools
gitdb
GitPython
idna
Jinja2
joblib
Js2Py
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
narwhals
numpy
packaging
pandas
pillow
PyAudio
pydeck
pyjsparser
pyparsing
PyPrind
pySmartDL
python-dateutil
pyttsx3
pytz
rich
markdown-it-py
mdurl
